.app-container {
  background-color:burlywood;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.task-form, .filter-sort-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.task-form input, .task-form textarea, .task-form select, .filter-sort-bar input, .filter-sort-bar select {
  padding: 8px;
  font-size: 16px;
}

.task-list table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.task-list th, .task-list td {
  padding: 10px;
  border: 1px solid #ddd;
}

.task-list button {
  margin-right: 10px;
}

tr:nth-child(even) {
  background-color: rgb(190, 250, 230);
}
h1{
  font-weight:bold;
}